<div class="jumbotron">
  <div class="hero movies">
    <h1 class="font-bold">Films/Movies</h1>
    <p class="max-w-2xl mx-auto mb-8">Discover the Rich Tapestry of Black Excellence: Immerse Yourself in Our Extensive Database Featuring a Diverse Array of Black Film and TV Shows, Unveiling Compelling Narratives, Iconic Performances, and Cultural Significance.</p>
    <%#= link_to 'Featured Movies', new_show_path, class: "bg-indigo-500 text-white px-4 py-2 rounded inline-block text-center mx-auto align-center" %>
  </div>
</div>

<div class="max-w-7xl mx-auto">
  <div class="grid grid-cols-4 gap-8 mt-4">
    <% @movies.each do |movie| %>
      <%= link_to movie do %>
        <div class="w-full">
          <img class="w-full rounded-lg mb-4" style="height: 375px;" src="<%= movie.poster %>" alt="<%= movie.title %>">
          <h2 class="font-bold text-xl text-indigo-500"><%= movie.title %></h2>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%# <h1 class="text-5xl text-indigo-500 font-bold mb-10 inline-block">Movies</h1> %>
<%#= link_to 'New Movie', new_movie_path, class: "bg-indigo-500 text-white px-4 py-2 rounded inline-block align-top mt-2 ml-4" %>
