<div class="max-w-7xl mx-auto my-24 bg-zinc-500/25">
  <h3 class="text-xs text-zinc-500">Movie > New </h3>
  <h2 class="text-4xl font-bold text-indigo-500">Add a New Movie</h2>
  <p class="mb-10 text-md text-zinc-500">Fill in the details for the new movie</p>

  <%= render "form", movie: @movie %>
</div>




